<h1 align="center">Listing all categories</h1>
<div align="center">
  <%= will_paginate %>
</div>

<ul class="listing">
  <% @users.each do |user| %>
    <div class="row">
      <div class="well col-md-7 recipe-li-inner">
        <%= link_to user.email, user_path(user) %>
        <li><small> <%= pluralize(user.recipes.count, "recipe") %></small></li>
      </div>
    </div>
  <% end %>
</ul>
<div align="center">
  <%= will_paginate %>
</div>
