<h2> Welcome to "Przepisownia" </h2>
Simple application which will help you with storing your kitchen recipes. It was made as recruitment task for Netguru college RoR.
I hope you will find it useful. I'd like to work on the app in the future.Improving the layout and adding new features
(as for example - possibilty of adding picture of dishes) are my main tasks.<br>
Greetings! <br>
Bartek
