<h2 align="center"> Category: <%= @category.name.capitalize %></h2>
<% @category.recipes.each do |rec| %>
  <div class="well col-xs-8 col-xs-offset-2">
    <ul class="listing listing-cat">
        <div class="row center">
          <%= link_to rec.title.capitalize, recipe_path(rec) %>
        </div>
        <div class="row center">
          Created by:<%= rec.user.email%>
        </div>
    </ul>
  </div>
<% end %>
